<ion-content color="dark" padding text-center class="vertical-align-content"> 
  <form #form="ngForm" (ngSubmit)="login(form)" class="imgloader" >
    <ion-grid>
      <ion-row color="primary" justify-content-center>
        <ion-col align-self-center >
          <div text-center>
            <h1 padding>SMART CLOCK IN</h1>
         
            <!-- <ion-progress-bar color="warning" value="1.0"></ion-progress-bar> -->
          </div>
          <div class="padding" >
            <ion-item>
              <ion-input  name="phone" type="phone" [attr.maxlength]="20" placeholder="Enter Phone Number" ngModel required  [(ngModel)]="credentials.phone"></ion-input>
            </ion-item>
           
          </div>
          <div padding>
            <ion-button size="large" type="submit" [disabled]="form.invalid" expand="block"  (click)="login()"> Login</ion-button>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
      
  
    </ion-row>
    </ion-grid>
  </form>



</ion-content>